/* RestaurantListPage.css */
.restaurant-list-page {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 20px;

  background-color: #e6e6fa; /* Lavender background */
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
}

.tabs button {
  margin-right: 10px;
  padding: 10px;

  cursor: pointer;

  color: #666;
  border: none;
  background: none;

  font-weight: bold;
}

.tabs button:hover {
  color: #333;
}

.tabs .active {
  transform: scale(1.1);

  color: black;

  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.restaurant-list {
  width: 100%;
  max-width: 800px;
}

.restaurant-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 10px;
  padding: 20px;

  border-radius: 4px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.restaurant-name {
  color: #333;

  font-size: 18px;
}
